.venv
.DS_Store
.claude/settings.local.json
final0.mp4
final1.mp4
mass_spring
.venv
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
src/__pycache__/mass_spring_robot_config.cpython-311.pyc
robotA_1.mp4
robotA_2.mp4
robotB.mp4
Screen Recording 2026-06-01 at 5.37.23 PM.mov
Screen Recording 2026-06-01 at 11.24.51 PM.mov
Screen Recording 2026-06-01 at 11.49.05 PM.mov
Screen Recording 2026-06-02 at 4.59.40 PM.mov
Screen Recording 2026-06-02 at 5.35.17 PM.mov
src/__pycache__/mass_spring_robot_config.cpython-311.pyc
